

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    <p>This is our Products Page </p>
    <p>@Html.Action("List", "Product")</p>

</div>

