@using Don.Sportsstore.Web.HtmlHelpers
@model Don.Sportsstore.Web.Models.Product.ProductListViewModel

@{
    ViewBag.Title = Model.CurrentCategory== "Products"? "All Products": Model.CurrentCategory;
    ViewBag.ActiveMenu = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@*weiter mit 194*@

<div class="row">
    <div>
        <ul class="list-group">

            @foreach (var product in Model.Products)
            {
                Html.RenderPartial("ProductSummery", product);
            }

        </ul>
    </div>

</div>

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new {page = x, category = Model.CurrentCategory}))
  
</div>

