<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Home
                </a>
            </li>
            <li>
                <a href="#">Chess</a>
            </li>
            <li>
                <a href="#">Soccer</a>
            </li>
            <li>
                <a href="#">Watersports</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            @*   @*     <nav class=" navbar navbar-inverse" role="navigation">#1#*@
            <div class="container">
                <div class="navbar-header">
                    <button type="button" id="menu-toggle" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        Toggle Sidebar
                    </button>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        @* <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>*@
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*   <a class="navbar-brand" href="/">Application name</a>*@
                    <a class="navbar-brand" href="~/"><i class="fa fa-cubes"></i> Sportsstore</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @Html.Action("TopMenu", "Layout", new { activeMenu = ViewBag.ActiveMenu })
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Action("LanguageSelection", "Layout")
                        @Html.Action("UserMenuOrLoginLink", "Layout")
                    </ul>
                </div>
            </div>

        </nav>
    </div>
    <!-- /#page-content-wrapper -->

</div>