<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand" style="text-align: right; padding-right: 115px; padding-top: 10px">
            <a href="#" type="button" id="menu-toggle">
                <i class="glyphicon glyphicon-bookmark"></i>
                @*  <i class="glyphicon glyphicon-th-list"></i>*@
            </a>
        </li>
        @*Get inspired by the great sidebar @https://thenewboston.com/*@
        @Html.Action("SideMenu", "Layout", new {activeMenu = ViewBag.ActiveMenu})
    </ul>
</div>