    <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand" style="text-align: right; padding-right: 115px; padding-top: 10px">
            <a href="#" type="button" id="menu-toggle">
                <i class="glyphicon glyphicon-bookmark"></i>
                @*  <i class="glyphicon glyphicon-th-list"></i>*@
                </a>
            </li>
            <li class="sidebar-brand">
                <a href="#">
                    Home
                </a>
            </li>
            <li>
                <a href="#">Chess</a>
            </li>
            <li>
                <a href="#">Soccer</a>
            </li>
            <li>
                <a href="#">Watersports</a>
            </li>
        </ul>
    </div>
