@model IList<Don.Sportsstore.Products.Dtos.ProductDto>

@{
    ViewBag.Title = "Admin: All Products";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>


<div class="jumbotron">
    <h1>Sportsstore Admin Zone</h1>      
    <p>Here can be some store stats collected from various reports</p>
</div>

<div class="container">
    <p>This is some text.</p>      
    <p>This is another text.</p>      
</div>





